body {
  background-color: #BDD5EA;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  font-size: large;
  width: 100vw;
  position: absolute;
  top: 0;
  color: #F7F7FF;
  background-color: #495867;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header button {
  background-color: #577399;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: xx-large;
  text-align: center;
}

input {
  text-align: center;
  font-size: x-large;
  border: 1px outset black;
  margin: .5em;
  padding: .5em;
  border-radius: .5em;
}

button,
select {
  font-size: x-large;
  color: white;
  background-color: #FE5F55;
  border: 1px outset black;
  margin: .5em;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
}

input:hover {
  color: #495867;
  border: 1px solid #577399;
}

h1 {
  margin-right: 1em;
  font-size: xx-large;
  /* color: #495867; */
  text-align: center;
}

/* #F7F7FF */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .header {
    width: 100vw;
    position: absolute;
    top: 0;
    color: #F7F7FF;
    background-color: #495867;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 